[submodule "RISCV_Debug_Module"]
	path = Debug_Module
	url = https://github.com/bluespec/RISCV_Debug_Module.git
[submodule "PLIC"]
	path = PLIC
	url = https://github.com/bluespec/PLIC.git
[submodule "CLINT"]
	path = CLINT
	url = https://github.com/bluespec/CLINT.git
[submodule "Tiny_TCM"]
	path = Tiny_TCM
	url = https://github.com/bluespec/Tiny_TCM.git
[submodule "mcu-core"]
	path = MCU_Core
	url = https://github.com/bluespec/mcu-core.git
